"*":
  "atom-beautify":
    clj:
      beautify_on_save: true
    ejs:
      disabled: true
    js:
      disabled: true
  "bracket-matcher":
    autocompleteCharacters: [
      "()"
      "[]"
      "{}"
      "\"\""
      "“”"
      "‘’"
      "«»"
      "‹›"
    ]
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "prettier-atom"
      "tool-bar"
      "markdown-preview"
    ]
    packagesWithKeymapsDisabled: [
      "pain-split"
      "lisp-paredit"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "FiraCode, Menlo, Consolas, DejaVu Sans Mono, monospace"
  "exception-reporting":
    userId: "4d6b1ad2-d65c-4cd9-baaa-7fc2c93aabff"
  "lisp-paredit":
    indentationForms: [
      "try"
      "catch"
      "finally"
      "/^let/"
      "are"
      "/^def/"
      "fn"
      "cond"
      "condp"
      "/^if.*/"
      "/.*\\/for/"
      "for"
      "for-all"
      "/^when.*/"
      "testing"
      "doseq"
      "dotimes"
      "ns"
      "routes"
      "GET"
      "POST"
      "PUT"
      "DELETE"
      "extend-protocol"
      "loop"
      "do"
      "case"
      "with-bindings"
      "checking"
      "with-open"
    ]
    strict: false
  "prettier-atom":
    formatOnSaveOptions: {}
    useEslint: true
  "proto-repl":
    autoPrettyPrint: true
    autoScroll: false
    leinPath: "/usr/local/bin/lein"
  tablr:
    csvEditor:
      header: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
".clojure.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    nonWordCharacters: "()\"':,;~@#$%^&{}[]`"
    scrollPastEnd: true
